<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">

     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <div id="site-container" class="flexbox vertical stretch flex-1">
      <div class="flexbox vertical center">
        <nav role="navigation" id="mainNav" class="navbar container" aria-label="navigation bar">
          <%= link_to 'Home', root_path, class: "nav-link" %>
          <%= link_to 'How It Works', home_howitworks_path, class: "nav-link" %>
          <%= link_to 'Map', home_map_path, class: "nav-link" %>
          <%= link_to 'Pricing', home_pricing_path, class: "nav-link" %>
          <%= link_to 'About Us', home_about_path, class: "nav-link" %>
          <%= link_to 'Help', home_help_path, class: "nav-link" %>
          <%= link_to 'Login/ My Account', home_login_path, class: "nav-link" %>
        </nav>

        <%= yield %>
        <footer>
          <p> Email us at: </p> <br />
          <p> Call us at: </p> <br />
          <%= link_to 'Privacy Policy', home_privacy_path %>
          <%= link_to 'Terms of Use', home_terms_of_use_path %> <br />
          <em> Copyright Information </em>
        </footer>
      </div>
    </div>
  </body>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
</html>
